REDIS_HOST=127.0.0.1
REDIS_PORT=6379

LLM_BASE_URL=
LLM_API_KEY=
LLM_AIG_TOKEN=
LLM_MODEL=
LLM_TOKEN_LIMIT=8000
# LLM_EMBED_API_KEY=your_embed_api_key 
LLM_EMBED_BASE_URL=
LLM_SYSTEM_PROMPT=
LLM_MAX_HISTORY_MESSAGES=15
LLM_CONTEXT_TTL_SECONDS=1800
LLM_SEMANTIC_CACHE_TTL_SECONDS=86400
LLM_SIMILARITY_THRESHOLD=0.80
